body {
    background: linear-gradient(rgba(48, 52, 56, 0.9), rgba(48, 52, 56, 0.9)), url(https://images.pexels.com/photos/758744/pexels-photo-758744.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin: 6em 0;
}